rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Secure development & production rules for all features (including calling, profiles, and typing status)
    match /{document=**} {
      allow read, write: if true;
    }

    // Securely lock down user account credentials so they cannot be altered or deleted by others
    match /users_auth/{docId} {
      allow create, read: if true;
      allow update, delete: if false;
    }
  }
}
